<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://kit.fontawesome.com/5aa5c57aae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/global.css">
    <script defer src="/javascript/global.js"></script>
</head>
<body>
    <% if(message) { %>
        <div class="warning-message"> <%= message %> </div>
    <% } else { %>
    <% } %>

    <%- include('./partials/navbar') %>

    <!-- <img src="<%= user.profile.picture %>" alt=""> -->
    
    <!-- <h1>Welcome to the App <%= `${user.profile.firstName} ${user.profile.lastName}` %></h1> -->

   
    
    <div class="wrapper">
        <div class="three-row-container">

            <div>
                <%- include('./partials/user-view') %>
            </div>
    
            <div class="single-row-container">
                <%- include('./partials/post-form') %>
                <br><br>
                <hr>
                <% if(allPosts.length > 0 ) { %>
                    <% allPosts.forEach(post => { %>
                        <li style="list-style-type: none;"> <%- include('./partials/post-item', { post, loggedInUser: user }) %> </li>
                   <% }) %>
                <% } else { %>
                    <br>
                    <h4> No Post Yet!</h4>
                    
                <% } %>

            </div>
    
            <div>
                <%- include('./partials/allusers') %>
            </div>
    
        </div>
    </div>
    


</body>
<%- include('./partials/footer') %>
</html>