<script>
    //this functions execute every second
    function updateTime() {

        const postSpans = document.querySelectorAll('.post-header-container span');
        const commentSpans = document.querySelectorAll('.commentContainer span')
        
        const arrOfSpans = [postSpans, commentSpans]
        for (let index = 0; index < arrOfSpans.length; index++) {
            const spans = arrOfSpans[index];

            //go to all spans
            spans.forEach((span) => {

                let date = new Date(span.getAttribute('created-at-timestamp')) 

                //this also helps me https://stackoverflow.com/questions/3224834/get-difference-between-2-dates-in-javascript
                const millisecond = Math.abs(new Date() - date) //new Date is the present object

                //seconds
                const seconds = millisecond / 1000
                //minute
                const minutes = seconds / 60
                //hour
                const hour = minutes / 60
                //days
                const day = hour / 24
                //month
                const month = hour / 730
                //year
                const year = month / 12


                if(seconds < 60) span.innerText = `${Math.floor(seconds)}s ago`
                else if(minutes < 60) span.innerText = `${Math.floor(minutes)}m ago`
                else if(hour > 1 && hour < 24) span.innerText = `${Math.floor(hour)}h ago`
                else if (day > 1 && month < 1) span.innerText = `${Math.floor(day)}d ago`
                else if (month >= 1)  span.innerText = `${Math.floor(month)}mos ago`
                else if (year > 1 && year < 4) span.innerText = `${Math.floor(year)}y ago`
                else if (year >= 4) span.innerText = span.innerText = `${date.toLocaleString('en-US', {month: 'short', year: 'numeric' })}`
                
                span.style.visibility = 'visible'
            })
        }
    }
    setInterval(updateTime,500) //execute every half a second
</script>



<div class="post-item-container" id="<%= post._id %>">

    <div class="post-header-container" style="margin-top: -3px; display: flex;align-items: center;justify-content: space-between;">
        
        <div style="display: flex;align-items: center;justify-content: center;">
            <a href="/users/<%= post.postCreator._id %>">
                <div style="display: flex; align-items: center; margin-top: -0.8rem;padding-top: 0.6rem;">
                    <img src="<%= post.postCreator.profile.picture%>" alt=""  style="width: 5rem;"/>
                    <%= `${post.postCreator.profile.firstName} ${post.postCreator.profile.lastName}` %> &nbsp; 
                    
                </div>
            </a>
            <span style="visibility: hidden;" created-at-timestamp="<%= post.createdAt %>" ><%= post.createdAt %></span>
        </div>

        <div>
            <!-- show the delete button match the loggedInUser id to post.postCreator_.id-->
            <!-- .toString() in post.postCreator._id is necessary to covert that object id back to string -->
            <% if(loggedInUser._id === post.postCreator._id.toString()) { %>
                <form action="/posts/<%= post._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="delete" />
                </form>
            <% } else { %>
                
            <% } %>

        </div>
    </div>

    <h1 style="white-space: pre-wrap;"><%= post.text %></h1>

    <% if(post.content === 'photo') { %>

        <img src="<%= post.photoUrl %>" alt="" width="100%" style="border-radius: 15px;"/>

    <% } %>

    <% if(post.content === 'video') { %>

        <video width="100%" style="border-radius: 15px;" controls>
            <source src="<%= post.videoUrl %>">
        </video>

    <% } %>

    <% if(post.content === 'code') { %>

        <pre style="margin: 0; padding: 0;text-wrap: nowrap;">
            <code style="margin: 0;padding: 0;">
                <%= post.code%>
            </code>
        </pre>
    <% } %>

    <hr>

    <% if (post.comments.length === 0) { %>
        <!-- <p>no comment yet</p> -->
    <% } else { %>
        <!-- show all comments -->
        <% post.comments.forEach( (comment) => { %>

            <div  style="display: flex;align-items: center;gap: 0.3rem;justify-content: space-between;">


                 <div class="commentContainer" style="display: flex;align-items: center; justify-content: center;gap: 0.3rem;">
                    
                    <a href="/users/<%= comment.commenterId._id %>" style="display: flex;align-items: center;">
                        <img src="<%= comment.commenterId.profile.picture %>" alt="" style="width: 2rem" />
                        <p style="font-weight: 800;color: rgb(55, 135, 248);"><%= `${comment.commenterId.profile.firstName} ${comment.commenterId.profile.lastName}` %></p>
                    </a>

                    :
                    
                    &nbsp;&nbsp;<%= comment.commentText %> <span style="visibility: hidden; opacity: 0.6;" created-at-timestamp="<%= comment.createdAt %>"><%= comment.createdAt %></span>


                 </div>


                 
                <div>
                    <form action="/comments/<%= comment._id %>/delete/<%= post._id %>?_method=DELETE" method="POST">
                        <% if(loggedInUser._id.toString() === comment.commenterId._id.toString()) { %>
                            <button class="delete-comment-button" type="submit"><i class="fa-solid fa-xmark"></i></button>
                        <% } %>
                    </form>
                </div>

            </div>

        <% }) %>

    <% } %>
    <br>
    <form class="comment-form-container" action="/comments/<%= post._id %>" method="POST">
        
        <input type="text" name="commentText" required/>
        <input type="submit" value="Add Comment">
    </form>
</div>