<script>
    
    //this functions execute every second
    function updateTime() {
        //seconds
        // console.log('seconds', Math.floor(timeDifference / 1000))
        // //hour
        // console.log('hours',Math.floor(timeDifference / 3600000) )
        //months

        const spans = document.querySelectorAll('.post-header-container span');

        //go to all spans
        spans.forEach((span) => {
            //test if all the spans will change
            //span.style.color = 'red'
            //now lets go get the value of each element
            //span.innerText will not work and will only update the front end when i refresh the page so i have to add a property inside the span called data-timestamp
            //what it does is it will make data intact for javascript to be process
            let date = new Date(span.getAttribute('data-timestamp'))

            //this also helps me https://stackoverflow.com/questions/3224834/get-difference-between-2-dates-in-javascript

            //so from stack overflow above i can show milisecond, days
            //i want to output 2s ago and once a minute is reach i will go 1m ago and then if it reach the hour then 1h ago and once month is reach ill go 2mos ago
            //for a year then ill do 1y ago if it go further 1 year i will just simply output month and date only

            const millisecond = Math.abs(new Date() - date) //new Date is the present object

            //seconds
            const seconds = millisecond / 1000
            //minute
            const minutes = seconds / 60
            //hour
            const hour = minutes / 60
            //days
            const day = hour / 24
            //month
            const month = hour / 730
            //year
            const year = month / 12


            if(seconds < 60) span.innerText = `${Math.floor(seconds)}s ago`
            else if(minutes < 60) span.innerText = `${Math.floor(minutes)}m ago`
            else if(hour > 1 && hour < 24) span.innerText = `${Math.floor(hour)}h ago`
            else if (day > 1 && month < 1) span.innerText = `${Math.floor(day)}d ago`
            else if (month >= 1)  span.innerText = `${Math.floor(month)}mos ago`
            else if (year > 1 && year < 4) span.innerText = `${Math.floor(year)}y ago`
            else if (year >= 4) span.innerText = span.innerText = `${date.toLocaleString('en-US', {month: 'short', year: 'numeric' })}`
            
            span.style.visibility = 'visible'
        })
    }

    //call setInterval
    setInterval(updateTime, 1000) //call every second
</script>


<div class="post-item-container" id="<%= post._id %>">

    <div class="post-header-container" style="margin-top: -3px; display: flex;align-items: center;justify-content: space-between;">
        
        <div style="display: flex;align-items: center;justify-content: center;">
            <a href="/users/<%= post.postCreator._id %>">
                <div style="display: flex; align-items: center; margin-top: -0.8rem;padding-top: 0.6rem;">
                    <img src="<%= post.postCreator.profile.picture%>" alt=""  style="width: 2rem;"/>
                    <%= `${post.postCreator.profile.firstName} ${post.postCreator.profile.lastName}` %> &nbsp; 
                    
                </div>
            </a>
            <span style="visibility: hidden;" data-timestamp="<%= post.createdAt %>" ><%= post.createdAt %></span>
        </div>

        <div>
            <!-- show the delete button match the loggedInUser id to post.postCreator_.id-->
            <!-- .toString() in post.postCreator._id is necessary to covert that object id back to string -->
            <% if(loggedInUser._id === post.postCreator._id.toString()) { %>
                <form action="/posts/<%= post._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="delete" />
                </form>
            <% } else { %>
                
            <% } %>

        </div>
    </div>

    <h1><%= post.text %></h1>

    <hr>
    <br>
    <form class="comment-form-container" action="/comments/<%= post._id %>">
        
        <input type="hidden" name="commenterId" id="commenterId" value="<%= loggedInUser._id%>"/>
        <input type="text" name="commentText"/>
        <input type="button" value="Add Comment">
    </form>
</div>