<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <script src="https://kit.fontawesome.com/5aa5c57aae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/global.css">
    <script defer src="/javascript/global.js"></script>
</head>
<body>

    <%- include('../partials/navbar') %>


    <div class="wrapper">
        
        <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
            <h1>My Profile</h1>

            <img src="<%= user.profile.picture %>" style="width: 10rem"/>
        
            <h4>member since:</h4> <br>
            <%= user.stringCreatedAt %>
            
            <br><br><br>
            <h4>Credentials:</h4>
            <br>
            username: <%= user.local.username %> <br>
            password: • • • • • • • •
            

            <br><br><br>
            <h4>Profile</h4>
            <br>
            <form action="/users/edit/profile?_method=PUT" method="POST">
                
                <div style="display: flex; flex-direction: column;gap: 2rem;">
                    
                    <div>
                        <label for="firstName">First Name:</label> <br>
                        <input type="text" name="firstName" value="<%= user.profile.firstName %>" />
                    </div>
            
                    <div>
                        <label for="lastName">Last Name:</label> <br>
                        <input type="text" name="lastName" value="<%= user.profile.lastName %>" />
                    </div>
            
                    <div>
                        <label for="aboutMe">About Me:</label> <br>
                        <textarea name="aboutMe" style="border-radius: 5px;"><%= user.profile.aboutMe%></textarea>
                    </div>
            
                    <input type="submit" value="Update"/>
                </div>
            </form>
            <br><br><br><br><br>
            
            
            👀
            <br> <br>
            <a href="/sign-out"> <i class="fa-solid fa-power-off"></i> Sign Out</a>
        </div>
    </div>
    


</body>
<%- include('../partials/footer') %>
</html>