<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= `${otherPersonProfile.profile.firstName} ${otherPersonProfile.profile.lastName}` %></title>
    <script src="https://kit.fontawesome.com/5aa5c57aae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/global.css">
    <script defer src="/javascript/global.js"></script>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="wrapper">

        <!-- this data comes from the server -->
        <h1>This is <%= `${otherPersonProfile.profile.firstName} ${otherPersonProfile.profile.lastName}'s` %> Page</h1>

        <img src="<%= otherPersonProfile.profile.picture %>" />

        <h4>member since:</h4>
        <%= monthAndYearFromDateObject(otherPersonProfile.createdAt) %>

        <h4>Profile</h4>

        <%= otherPersonProfile.profile.firstName %>
        <%= otherPersonProfile.profile.lastName %>


        <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/white-space -->
        <h4>About Me:</h4>
        <p style="white-space: pre-line;">
            <%= otherPersonProfile.profile.aboutMe %>
        </p>
        <!-- here maybe show all activies of the user -->
        <h4>Activities/Posts:</h4>

    </div>

    
    

</body>
<%- include('../partials/footer') %>
</html>